<h1>Detalle de Tipo de Copropiedad</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <td><%= @type.name %></td>
  </tr>
  <tr>
    <th>Display Name</th>
    <td><%= @type.display_name %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @type.description %></td>
  </tr>
  <tr>
    <th>Active</th>
    <td><%= @type.active ? "Sí" : "No" %></td>
  </tr>
  <tr>
    <th>Sort Order</th>
    <td><%= @type.sort_order %></td>
  </tr>
</table>

<%= link_to 'Editar', edit_admin_co_ownership_type_path(@type), class: "btn btn-secondary" %>
<%= link_to 'Volver', admin_co_ownership_types_path, class: "btn btn-primary ml-2" %>
