<!DOCTYPE html>
<html>
  <head>
    <title>Sistema Inmobiliario</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <!-- Navbar superior -->
    <%= render 'shared/navbar' %>

    <!-- Contenido principal -->
    <div class="container mt-4" <%= 'data-turbo="false"' if controller_path.start_with?('admin/') %>>
      <%= yield %>
    </div>
  </body>
</html>
